<section class="container main__inner">
    <div class="main__flex__contents">
        <table>
            <tr>
                <th>Date</th>
                <th>Content</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <% for (let history of histories) { %> 
                <tr>
                    <td><%=history.month%>/<%= history.day %> </td>
                    <td><%=history.content%></td>
                    <td><%=history.category%></td>
                    <td><%=history.price%></td>
                </tr>
            <% } %> 
        </table>
        <canvas id="mycanvas"></canvas>
    </div>
    <div class="main__contents">
        <div class="main__flex__calc">
            <div class="main__flex__calc__elements">
                <h2>収入</h2>
                <span>10000 ￥</span>
            </div>
            <div class="main__flex__calc__elements">
                <h2>-</h2>
            </div>
            <div class="main__flex__calc__elements">
                <h2>支出</h2>
                <span>10000 ￥</span>
            </div>
            <div class="main__flex__calc__elements">
                <h2>-</h2>
            </div>
            <div class="main__flex__calc__elements">
                <h2>繰越金</h2>
                <span>10000 ￥</span>
            </div>
        </div>
        
    </div>
</section>