<section class="container main__inner">
    <div class="main__flex__contents">
        <table>
            <tr>
                <th>日付</th>
                <th>内容</th>
                <th>カテゴリ</th>
                <th>値段</th>
            </tr>
            <% for (let history of histories) { %> 
                <tr>
                    <td><%=history.month%>/<%= history.day %> </td>
                    <td><%=history.content%></td>
                    <td><%=history.category%></td>
                    <td><%=history.price%></td>
                </tr>
            <% } %> 
        </table>
        <canvas id="mycanvas"></canvas>
    </div>
    <div class="main__contents">
        <h2>繰越金</h2>
        <span>10000 ￥</span>
    </div>
</section>