<section class="container main__inner">
    <div class="main__table__contents">
        <canvas id="mycanvas"></canvas>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Lifestyle</th>
                        <th>Daily</th>
                        <th>Others</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let sum of sums) { %> 
                        <tr>
                            <td class=sum_food><%=sum.Food%> </td>
                            <td class=sum_lifestyle><%=sum.Lifestyle%></td>
                            <td class=sum_daily><%=sum.Daily%></td>
                            <td class=sum_others><%=sum.Others%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Content</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let history of histories) { %> 
                        <tr>
                            <td><%=history.month%>/<%= history.day %> </td>
                            <td><%=history.content%></td>
                            <td><%=history.category%></td>
                            <td><%=history.price%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <form action="<%=year%>-<%=month%>" method="POST">
            <div class="form-inputs">
                <label for="day">Day</label>
                <input type="text" id="day" name="history[day]" placeholder="1-31" required>
            </div>
            <div class="form-inputs">
                <label for="content">Content</label>
                <input type="text" id="content" name="history[content]" required>
            </div>
            <div class="form-inputs">
                <label for="category">Category</label>
                <select name="history[category]" id="category">
                    <option value="Food">Food</option>
                    <option value="Lifestyle">Lifestyle</option>
                    <option value="Daily">Daily</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="form-inputs">
                <label for="price">Price</label>
                <input type="text" id="price" name="history[price]" required>
            </div>
            <div class="form-button">
                <button>Add History</button>
            </div>
        </form>
        
    </div>
    <div class="main__contents">
        <div class="main__flex__calc">
            <div class="main__flex__calc__elements">
                <h2>収入</h2>
                <span>10000 ￥</span>
            </div>
            <div class="main__flex__calc__elements">
                <h2>-</h2>
            </div>
            <div class="main__flex__calc__elements">
                <h2>支出</h2>
                <% for (let sum of sums) { %> 
                    <span><%=sum.Food+sum.Lifestyle+sum.Daily+sum.Others%> ￥</span>
                <% } %> 
            </div>
            <div class="main__flex__calc__elements">
                <h2>-</h2>
            </div>
            <div class="main__flex__calc__elements">
                <h2>差し引き</h2>
                <span>10000 ￥</span>
            </div>
        </div>
        <form action="<%=year%>-<%=month%>/income" method="POST">
            <h2>収入の記入</h2>
            <div class="income__input">
                <input type="text" name="income"><span>￥</span>
            </div>
            <button>確定</button>            
        </form>
    </div>
</section>